<header>
  <div class="agent-data-flex">
    <div class="agent-image-container">
      <span class="status"></span>
      <div class="agent-image-container-frame">
        <img src="assets/logo.png" alt="">
      </div>
    </div>
    <div class="agent-data">
      <h1>Tetherfi VA</h1>
      <p>
        <i class="material-icons-round">android</i>
        <span>
          Chatbot
        </span>
      </p>
    </div>
  </div>
  <div class="chat-control-flex">
    <div class="chat-control-button">
      <i class="material-icons-round">call</i>
    </div>
    <div class="chat-control-button">
      <i class="material-icons-round">videocam</i>
    </div>
    <div class="chat-control-button">
      <i class="material-icons-round">logout</i>
    </div>
  </div>
</header>
