<div class="captcha-wrapper">
  <!-- Captcha header -->
  <ng-container *ngIf="captchaConfig.captchaHeader.enable && captchaHeaderSourceContent">
    <header class="captcha-header captcha-header-{{captchaConfig.captchaHeader.position}}"
      [innerHTML]="captchaHeaderSourceContent | safe: 'html'">
    </header>
  </ng-container>
  <ng-container
    *ngIf="captchaConfig.captchaHeader.enable && !captchaHeaderSourceContent && checkForSecureProtocol('captchaHeader')">
    <header class="captcha-header captcha-header-{{captchaConfig.captchaHeader.position}}">
      <iframe [src]="captchaConfig.captchaHeader.pathToSource | safe: 'resourceUrl'"></iframe>
    </header>
  </ng-container>
  <!-- Captcha body -->
  <div class="captcha-body"
    [ngClass]="{'captcha-body-flex': captchaConfig.captchaCarousel.enable, 'captcha-body-invert-landscape': captchaConfig.captchaCarousel.position.landscape == 'right', 'captcha-full-h': !captchaConfig.captchaHeader.enable, 'captcha-h-header-normal': captchaConfig.captchaHeader.enable}">
    <ng-container *ngIf="captchaConfig.captchaCarousel.enable">
      <div class="captcha-carousel-container" *ngIf="carouselContentArray.length">
        <ng-container *ngIf="captchaConfig.captchaCarousel.pagination.enable">
          <div
            class="carousel-paginator-container carousel-paginator-container-hp-{{captchaConfig.captchaCarousel.pagination.horizontalPosition}} carousel-paginator-container-hp-{{captchaConfig.captchaCarousel.pagination.verticalPosition}}">
            <mat-icon (click)="onSwipe('right')"
              *ngIf="captchaConfig.captchaCarousel.manualSlide">keyboard_arrow_left</mat-icon>
            <div class="paginator-flex" [ngSwitch]="captchaConfig.captchaCarousel.pagination.style">
              <ng-container *ngSwitchCase="'dot'">
                <div *ngFor="let dot of captchaConfig.captchaCarousel.carouselContentPathArray; let i = index"
                  class="dot" [ngClass]="{'active-dot': i === currentSliderIndex}"></div>
              </ng-container>
              <ng-container *ngIf="captchaConfig.captchaCarousel.pagination.showIndex">
                <div class="slider-index">{{currentSliderIndex+1}}/{{maxSliderIndex}}</div>
              </ng-container>
            </div>
            <mat-icon (click)="onSwipe('left')"
              *ngIf="captchaConfig.captchaCarousel.manualSlide">keyboard_arrow_right</mat-icon>
          </div>
        </ng-container>
        <div class="carousel-slider-wrapper">
          <div class="carousel-slider-container" #carouselSliderContainer>
            <div *ngFor="let carouselContent of carouselContentArray" class="carousel-container"
              [innerHTML]="carouselContent.carouselContent | safe: 'html'"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="captcha-form-container captcha-form-container-vp-{{captchaConfig.captchaLogo.verticalPosition}}"
      [ngClass]="{'captcha-form-fulll-width': !captchaConfig.captchaCarousel.enable}">
      <div
        class="captcha-logo-image-container captcha-logo-image-container-hp-{{captchaConfig.captchaLogo.horizontalPosition}}"
        *ngIf="captchaConfig.captchaLogo.enable">
        <img [src]="captchaConfig.captchaLogo.pathToSource">
      </div>
      <div class="captcha-form" [ngClass]="{'captcha-form-full-h': !captchaConfig.captchaLogo.enable}">
        <h2>Security Verification</h2>
        <ng-container *ngIf="captchaConfig.captchaImage.enable">
          <div class="captcha-image-container">
            <img [src]="captchaConfig.captchaImage.pathToSource">
          </div>
        </ng-container>
        <div class="captcha-box captcha-box-hp-{{captchaConfig.captchaResetButtonPosition}}">
          <button class="captcha-reset">
            <mat-icon>refresh</mat-icon>
          </button>
          <img src="assets/images/captcha/captcha.jpg" alt="">
        </div>
        <div class="input-container" [ngClass]="{'separated-input-container': captchaConfig.separatedInputs.enable}">
          <ng-container *ngIf="captchaConfig.separatedInputs.enable">
            <input maxlength="1" *ngFor="let item of [].constructor(captchaConfig.separatedInputs.letterCount)"
              type="text">
          </ng-container>
          <ng-container *ngIf="!captchaConfig.separatedInputs.enable">
            <input [maxLength]="captchaConfig.separatedInputs.letterCount" type="text">
          </ng-container>
        </div>
        <button type="button">Submit</button>
      </div>
    </div>
  </div>
  <!-- Captcha footer -->
  <ng-container *ngIf="captchaConfig.captchaFooter.enable && captchaFooterSourceContent">
    <footer class="captcha-footer" [innerHTML]="captchaFooterSourceContent | safe: 'html'">
    </footer>
  </ng-container>
  <ng-container
    *ngIf="captchaConfig.captchaFooter.enable && !captchaFooterSourceContent && checkForSecureProtocol('captchaFooter')">
    <footer class="captcha-footer">
      <iframe [src]="captchaConfig.captchaFooter.pathToSource | safe: 'resourceUrl'"></iframe>
    </footer>
  </ng-container>
</div>
