@import '../../assets/styles/themes/default.theme.scss';

.record-video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  user-select: none;

  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #777c86;
    margin-top: -0.5rem;
  }

  .start-recording {
    min-height: 7rem;
    min-width: 7rem;
    max-height: 7rem;
    max-width: 7rem;
    background: $main-theme;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 1rem;
    cursor: pointer;

    mat-icon {
      color: #fff;
      font-size: 4rem;
      width: 4rem;
      height: 4rem;
    }
  }

  .files-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    .file-box {
      width: 100%;
      height: 5rem;
      border: 2px solid #e4e3e7;
      border-radius: 5px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;

      // audio {
      //   position: absolute;
      //   opacity: 0;
      // }

      .file-icon-box,
      .file-action-box {
        width: 5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .file-icon,
        .file-action {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          border: 2px solid #e4e3e7;
          border-radius: 5px;

          mat-icon {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            color: $main-theme;
          }
        }

        &:last-child {
          width: 10rem;
        }
      }

      .file-action-box {

        .file-action {
          border: none;
          gap: 1.5rem;

          mat-icon {
            color: #ca0000;
            cursor: pointer;

            &:last-child {
              color: $main-theme;
            }
          }
        }
      }

      .file-info-progress-flex {
        width: calc(100% - 10rem);
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;

        p {
          color: #000;
          font-size: 1.2rem;
          font-weight: 600;
          width: auto;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 400;
            color: #949494;
          }
        }
      }
    }
  }
}

.video-player-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba($color: #000000, $alpha: 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .video-container{
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    position: relative;

    mat-icon{
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: -2rem;
      right: 0;
      color: #f43b3b;
      cursor: pointer;
    }

    video {
      width: 100%;
      height: 100%;
    }
  }
}

.recorder-live-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba($color: #000000, $alpha: 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .recorder-container {
    width: 90vw;
    height: 90vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 1rem;
    gap: 1rem;
    user-select: none;
    padding: 1rem;

    .recorder-top-section {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;
      padding: 0 1rem;

      .info-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        mat-icon {
          color: #bbbbbb;
        }

        h5 {
          font-size: 1.4rem;
          font-weight: 600;
        }

        .rec-info-button {
          display: inline-block;
          border-radius: 3px;
          background: #f43b3b;
          display: flex;
          gap: 0.3rem;
          align-items: center;
          justify-content: center;
          padding: 0 0.5rem;
          min-width: 1rem;
          height: 1.5rem;

          .rec-dot {
            width: 5px;
            height: 5px;
            border-radius: 5rem;
            background: #fff;
          }

          p {
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
          }
        }

        .rec-info-blink {
          animation: blink linear infinite 1s;
        }
      }

      mat-icon {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        color: rgb(242, 106, 106);
        cursor: pointer;
      }
    }

    .recorder-middle-section {
      width: 100%;
      height: calc(100% - 11rem);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      video {
        width: 100%;
        height: 100%;
      }
    }

    .recorder-bottom-section {
      width: 100%;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #e5e5e5;
      padding: 0 1rem;

      .recorder-timer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .progress {
          width: 2rem;
          height: 2rem;
          border-radius: 5rem;
          background: conic-gradient($main-theme calc(var(--progress) *3.6deg), transparent calc(var(--progress) *3.6deg));
          border: 2px solid $main-theme;
        }

        p {
          font-size: 1.4rem;
          font-weight: 600;

          span {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  .recorder-live-container .recorder-container .recorder-bottom-section .recorder-timer {
    gap: 0.5rem;

    p {
      font-size: 1.2rem;

      span {
        font-size: 1rem;
      }
    }
  }

  .button-flex button{
    width: 7rem;
  }
}
