<app-chat-container></app-chat-container>
<div class="connecting-view-wrapper">
  <div class="call-view-box">
    <p>Incoming call</p>
    <h5>Yashwanth kumar</h5>
    <div class="circle">
      <span class="circle__logo_container">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="sample_avatar">
      </span>
      <span class="circle__back-1"></span>
      <span class="circle__back-2"></span>
    </div>
    <div class="button-flex">
      <div class="call-main reject">
        <mat-icon> close</mat-icon>
      </div>
      <p>Ignore</p>
      <div class="call-main">
        <mat-icon> call</mat-icon>
      </div>
    </div>
  </div>
</div>

