@import '../../assets/styles/themes/default.theme.scss';

.record-audio-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  user-select: none;

  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #777c86;
    margin-top: -0.5rem;
  }

  .audio-player {
    margin-top: 1rem;
    width: 100%;
    height: 14rem;
    background: $main-theme;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .left-info {
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 10px;
      position: relative;

      .rec-info-button {
        display: inline-block;
        border-radius: 3px;
        background: #f43b3b;
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: center;
        padding: 0 0.5rem;
        min-width: 1rem;
        height: 1.5rem;

        .rec-dot {
          width: 5px;
          height: 5px;
          border-radius: 5rem;
          background: #fff;
        }

        p {
          font-size: 1rem;
          font-weight: 400;
          color: #fff;
        }
      }

      .rec-info-blink {
        animation: blink linear infinite 1s;
      }

      .rec-timer {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p {
          font-size: 2.1rem;
          font-weight: 600;

          span {
            font-size: 1.4rem;
            font-weight: 400;
          }

          &:nth-child(2) {
            margin-left: 0.2rem;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            span {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 5rem;
              background: $main-theme;
            }
          }
        }
      }
    }

    .right-controls {
      width: 100%;
      height: 100%;
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .file-info {
        position: absolute;
        width: 100%;
        top: 0.5rem;
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p {
          font-size: 1.2rem;
          font-weight: 500;
          color: #fff;

          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      .visualizer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .control-bar {
        width: calc(100% - 1rem);
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;

        .record-stop-button {
          height: 100%;
          width: 10rem;
          border-radius: 5rem;
          background: #fff;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 300ms cubic-bezier(0.15, 0, 0.333, 1);

          .record-toggler {
            width: 2rem;
            height: 2rem;
            border-radius: 5rem;
            background: #f43b3b;
            transform: rotate(0deg);
            transition: all 300ms cubic-bezier(0.15, 0, 0.333, 1);
          }

          &:hover {
            .record-toggler {
              border-radius: 5px;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }

  .files-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    .file-box {
      width: 100%;
      height: 5rem;
      border: 2px solid #e4e3e7;
      border-radius: 5px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;

      audio {
        position: absolute;
        opacity: 0;
      }

      .file-icon-box,
      .file-action-box {
        width: 5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .file-icon,
        .file-action {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          border: 2px solid #e4e3e7;
          border-radius: 5px;

          mat-icon {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            color: $main-theme;
          }
        }
      }

      .file-action-box {
        .file-action {
          border: none;

          mat-icon {
            color: #ca0000;
            cursor: pointer;
          }
        }
      }

      .file-info-progress-flex {
        width: calc(100% - 10rem);
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;

        p {
          color: #000;
          font-size: 1.2rem;
          font-weight: 600;
          width: auto;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 400;
            color: #949494;
          }
        }
      }
    }
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .record-audio-container .audio-player .left-info .rec-timer p{
    font-size: 1.6rem;

    span{
      font-size: 1.2rem;
    }
  }
}
