<div class="main-wrapper">
  <div class="message-wrapper">
    <div class="record-audio-container">
      <h1>Record your audio</h1>
      <h2>Please record and upload your audio saying the concent.</h2>
      <div class="record-stop-button record-active" style="--v: {{hitValue}}"
        [ngClass]="{'record-active': isRecordActive, 'active-visualizer': isRecordActive && peakHit}">
        <div class="visualizer"></div>
        <div class="button" (click)="toggleRecording()">
          <div class="text-box">
            <p>
              <span style="--q: 0">R</span>
              <span style="--q: 1">E</span>
              <span style="--q: 2">C</span>
              <span style="--q: 3">O</span>
              <span style="--q: 4">R</span>
              <span style="--q: 5">D</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
