<div class="main-wrapper">
  <div class="message-wrapper">
    <div class="record-audio-container">
      <h1>Record your audio</h1>
      <h2>Please record and upload your audio saying the concent.</h2>
      <div class="audio-player">
        <div class="left-info">
          <div class="rec-info-button" [ngClass]="{'rec-info-blink': isRecordActive}">
            <div class="rec-dot"></div>
            <p>REC</p>
          </div>
          <div class="rec-timer">
            <p>{{currHour}}<span>H</span>:{{currMin}}<span>M</span>:{{currSecond}}<span>S</span></p>
            <p>{{recordAudioConfig.defaultMime.split('/')[1].toUpperCase()}} <span></span>
              {{recordAudioConfig.bytesPerSecond / 1000}}kbps</p>
          </div>
        </div>
        <div class="right-controls">
          <div class="file-info">
            <p>{{currFileName ? currFileName : 'Please press record button'}}</p>
            <p>{{isRecordActive ? currSize : '0.00'}} mb</p>
          </div>
          <div class="visualizer">

          </div>
          <div class="control-bar">
            <div *ngIf="isRecordActive" class="record-stop-button" (click)="stopRecording()">
              <mat-icon>close</mat-icon>
            </div>
            <div class="record-stop-button" (click)="toggleRecording()">
              <div *ngIf="!isRecordActive" class="record-toggler"></div>
              <mat-icon *ngIf="isRecordActive">done</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="divider" *ngIf="filesToUpload.length">
        <div class="line"></div>
      </div>
      <div class="files-flex" *ngIf="filesToUpload.length">
        <div class="file-box" *ngFor="let file of filesToUpload; let i = index">
          <audio controls>
            <source [src]="file.blobURL">
          </audio>
          <div class="file-icon-box">
            <div class="file-icon">
              <mat-icon>audiotrack</mat-icon>
            </div>
          </div>
          <div class="file-info-progress-flex">
            <p>{{file.title}}</p>
            <p>{{file.size}} mb | {{file.duration}} seconds</p>
          </div>
          <div class="file-action-box">
            <div class="file-action">
              <mat-icon (click)="removeFile(i)">close</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="end-flex">
        <div class="hint-box">
          <mat-icon>info</mat-icon>
        </div>
        <div class="button-flex">
          <button type="button" class="discard-button">Discard</button>
          <button type="button" class="action-button">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tetherfi-notiland *ngIf="showWarnInfo" [warnMessage]="warnMessage" [warnIcon]="warnIcon"
  (result)="onCatchResult($event)"></app-tetherfi-notiland>
