<div class="main-wrapper">
  <div class="message-wrapper">
    <div class="security-container">
      <h1>Enter your security code</h1>
      <h2>Your security code will be protected at all cost.</h2>
      <div class="pulse">
        <mat-icon>security</mat-icon>
      </div>
      <div class="input-flex">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="end-flex">
        <div class="hint-box">
          <mat-icon>info</mat-icon>
        </div>
        <div class="button-flex">
          <button type="button" class="discard-button">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
