.chat-message{
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 15px;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50vw;
  min-width: 250px;
  position: relative;

  h2{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary);
  }

  p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
  }

  .time{
    position: absolute;
    top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--iconColor);
    text-shadow: var(--iconShadow);
  }

  i{
    position: absolute;
    bottom: 10px;
    font-size: 1.6rem;
    color: var(--iconColor);
    text-shadow: var(--iconShadow);
  }
}

.received{
  border-top-left-radius: 0px;
  align-items: flex-start;
  float: left;

  .time{
    right: 10px;
  }

  i{
    display: none;
  }
}

.sent{
  border-top-right-radius: 0px;
  align-items: flex-end;
  padding-bottom: 30px;
  float: right;

  .time, i{
    left: 10px;
  }
}
