.notiland-notch-box {
  position: fixed;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: notchContainerAnimation 0.33s cubic-bezier(.666, 0, .4, 1.2);
  animation-fill-mode: forwards;
  transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
  user-select: none;

  .notch {
    position: relative;
    background: #6a26da;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
    overflow: hidden;

    mat-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1.4rem;
      color: #fff;
      transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
    }

    .content-main {
      width: 0rem;
      height: 100%;
      position: relative;
      overflow: hidden;
      margin-left: 3.5rem;
      margin-right: 1rem;
      transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);

      p {
        font-size: 1.2rem;
        color: #fff;
        width: 100%;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 5%;
        width: max-content;
        transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
        transform: translate(0%, -50%);
        animation: none;
      }
    }

    .action-buttons {
      height: 0rem;
      position: absolute;
      bottom: 1rem;
      left: 6rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);

      p {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 1000;
        text-transform: uppercase;
        transform: translateY(5rem);
        transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
        cursor: pointer;
      }
    }
  }

  .notch-hover {
    width: 100%;

    mat-icon {
      left: 8%;
    }

    .content-main {
      width: 20rem;

      p {
        animation: textAnimation 30s linear infinite;
      }
    }
  }

  .expanded-notch {
    width: 100%;
    min-width: 40rem;
    height: 6rem;

    mat-icon {
      left: 8%;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 2.4rem;
    }

    .content-main {
      width: 30rem;
      margin-left: 6rem;
      margin-top: -1rem;

      p {
        font-size: 1.4rem;
        animation: textAnimation 30s linear infinite;
      }
    }

    .action-buttons {
      height: 2rem;

      p {
        transform: translateY(0rem);
      }
    }
  }
}

.call-box {
  width: 40rem;
  height: 6rem;
  background: #6a26da;
  border-radius: 5rem;
  position: fixed;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  animation: notchContainerAnimation 0.33s cubic-bezier(.666, 0, .4, 1.2);
  animation-fill-mode: forwards;
  transition: all 0.33s cubic-bezier(.666, 0, .4, 1.2);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .call-icon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .Phone {
      position: relative;
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      font-size: 25vmin;
      background-color: #ffffff;
      border-radius: 0.5em;
      box-shadow:
        0 0 0 0em rgba(#ffffff, 0),
        0em 0.05em 0.1em rgba(#000000, 0.05);
      transform: translate3d(0, 0, 0) scale(1);

      mat-icon {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        color: #6a26da;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1);
        animation: phone-icon 3000ms infinite;
      }
    }

    .Phone.is-animating {
      animation: phone-outer 3000ms infinite;
    }

    .call-info {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      p {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
      }

      h5 {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        max-width: 20rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .call-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .action-button {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.05);

      mat-icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        color: #fff;
      }

      &:first-child {
        background: #268542;
      }

      &:last-child {
        background: #de2829;
      }
    }
  }
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#ffffff, 0),
      0 0.05em 0.1em rgba(#000000, 0.05);
  }

  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
      0 0 0 0 rgba(#ffffff, 0.1),
      0 0.05em 0.1em rgba(#000000, 0.5);
  }

  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0.1em rgba(#ffffff, 0),
      0 0.05em 0.1em rgba(#000000, 0.05);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0 rgba(#ffffff, 0),
      0 0.05em 0.1em rgba(#000000, 0.05);
  }
}

@keyframes phone-icon {
  0% {
    transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  }

  2% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  4% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  6% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  8% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  10% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  12% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  14% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  16% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  18% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  20% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  22% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  24% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  26% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  28% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  30% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  32% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  34% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  36% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  38% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  40% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  42% {
    transform: translate(-50%, -50%) translate3d(0.5px, 0, 0);
  }

  44% {
    transform: translate(-50%, -50%) translate3d(-0.5px, 0, 0);
  }

  46% {
    transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  }
}

@keyframes textAnimation {
  0% {
    transform: translate(0%, -50%);
  }

  100% {
    transform: translate(-100%, -50%);
  }
}

@keyframes notchContainerAnimation {
  0% {
    top: -5rem;
  }

  100% {
    top: 1.5rem;
  }
}
