<div class="home-wrapper">
  <div class="component-router" [routerLink]="['/captchaPage']">
    Captcha Page Component
  </div>
  <div class="component-router" [routerLink]="['/creditCard']">
    Credit Card Component
  </div>
  <div class="component-router" [routerLink]="['/fileUpload']">
    File Upload Component
  </div>
  <div class="component-router" [routerLink]="['/recordAudio']">
    Audio Record Component
  </div>
  <!-- <div class="component-router" [routerLink]="['/recordVideo']">
    Video Record Component
  </div> -->
  <div class="component-router" [routerLink]="['/security']">
    Security Component
  </div>
</div>
